<%- include("parts/header", {pageTitle: "Error"}); %>
<body>
    <%- include("parts/nav", {currentPage: "error"}) %>
    <main>
        <div class="content">
            <h1>An error has ocurred!</h1>
            <div><%= errorMessage %></div>
        </div>
    </main>
</body>
<%- include("parts/footer"); %>