<%- include("parts/header", {pageTitle}); %>
<body>
    <%- include("parts/nav", {currentPage: "home"}) %>
    <main>
        <h1><%= pageTitle %></h1>
        <div class="api-endpoint-lists">
            <h3>API: Fetch data endpoints</h3>
            <ul>
                <li>
                    <h4><span>GET</span>List of all students</h4>
                    <div>http://localhost:3000/api/students</div>
                </li>
                <li>
                    <h4><span>GET</span>List of all courses</h4>
                    <div>http://localhost:3000/api/courses</div>
                </li>
                <li>
                    <h4><span>GET</span>List of all courses with their associated students</h4>
                    <div>http://localhost:3000/api/courses/students</div>
                </li>
                <li>
                    <h4><span>GET</span>Info (including their courses) about the student with the specified ID</h4>
                    <div>http://localhost:3000/api/student/get/<em>[id]</em></div>
                </li>
                <li>
                    <h4><span>GET</span>Filtered list of students with course info</h4>
                    <div>http://localhost:3000/api/students/list?firstname=<em>[filter string]</em></div>
                    <div>http://localhost:3000/api/students/list?lastname=<em>[filter string]</em></div>
                    <div>http://localhost:3000/api/students/list?city=<em>[filter string]</em></div>
                    <br><strong>All filter parameters are optional, and can be combined like:</strong>
                    <div>http://localhost:3000/api/students/list?firstname=<em>Johan</em>&city=<em>Lund</em></div>
                </li>
                <li>
                    <h4><span>GET</span>List of courses filtered by specified criteria</h4>
                    <div>http://localhost:3000/api/courses/filtered/id?filter=<em>[filter string]</em></div>
                    <div>http://localhost:3000/api/courses/filtered/name?filter=<em>[filter string]</em></div>
                    <div>http://localhost:3000/api/courses/filtered/name_contains?filter=<em>[filter string]</em></div>
                    <div>http://localhost:3000/api/courses/filtered/desc_contains?filter=<em>[filter string]</em></div>
                    <br><strong>Example - get all courses where the description contains the word "javascript":</strong>
                    <div>http://localhost:3000/api/courses/filtered/desc_contains?filter=<em>javascript</em></div>
                </li>
            </ul>
            <h3>API: Add/modify data endpoints</h3>
            <ul>
                <li>
                    <h4><span>POST</span>Add a new student to the system</h4>
                    <div>http://localhost:3000/api/student/add</div>
                    <br><strong>Data fields:</strong> firstname, lastname, city (optional)
                </li>
                <li>
                    <h4><span>POST</span>Add a new course to the system</h4>
                    <div>http://localhost:3000/api/course/add</div>
                    <br><strong>Data fields:</strong> name, description (optional)
                </li>
                <li>
                    <h4><span>GET</span>Add a student to a course</h4>
                    <div>http://localhost:3000/api/course/student/add/<em>[courseId]</em>/<em>[studentId]</em></div>
                    <br><strong>Example - add the student with the id 1 to the course with the id 2:</strong>
                    <div>http://localhost:3000/api/course/student/add/<em>2</em>/<em>1</em></div>
                </li>
                <li>
                    <h4><span>DELETE</span>Delete a student with the specified ID</h4>
                    <div>http://localhost:3000/api/student/delete/<em>[studentId]</em></div>
                </li>
                <li>
                    <h4><span>DELETE</span>Delete a course with the specified ID</h4>
                    <div>http://localhost:3000/api/course/delete/<em>[courseId]</em></div>
                </li>
                <li>
                    <h4><span>DELETE</span>Remove a student from a course with the specified IDs</h4>
                    <div>http://localhost:3000/api/course/student/delete/<em>[courseId]</em>/<em>[studentId]</em></div>
                    <br><strong>Example - remove the student with the id 1 from the course with the id 2:</strong>
                    <div>http://localhost:3000/api/course/student/delete/<em>2</em>/<em>1</em></div>
                </li>
            </ul>
        </div>
    </main>
</body>
<%- include("parts/footer"); %>