<%- include("parts/header", {pageTitle}); %>
<body>
    <%- include("parts/nav", {currentPage: "home"}) %>
    <main>
        <h1><%= pageTitle %></h1>
        <p>Todo: API översikt</p>
    </main>
</body>
<%- include("parts/footer"); %>