<header>
    <div class="headerlogo"><img class="logo" src="./images/gritacademy-logo.png">Grit Academy API</div>
    <nav>
        <a href="/" class="<%= (currentPage == 'home' ? "current" : "")  %>">API</a>
        <a href="/students" class="<%= (currentPage == 'students' ? "current" : "")  %>">Students</a>
        <a href="/courses" class="<%= (currentPage == 'courses' ? "current" : "")  %>">Courses</a>
    </nav>
</header>